<!DOCTYPE html>
<html>
  <% include ../partials/header_admin%>
  <body>
    <div class ="container">
	  <center>
      <h1>Edit Data</h1>
      <a href = "/admin/home/products">show all data</a>
          <form class= 'form-inline' action='/admin/home/products/edit/<%=dataProduct.id%>' method = 'post'>
            <label>Name</label></br>
            <input type ='text' value='<%=dataProduct.name%>' class="form-control"  name='name'> </br>
            <label>Price</label></br>
            <input type ='number' value='<%=dataProduct.price%>' class="form-control"  name='price'> </br>
            <label>Stock</label></br>
            <input type ='number' value='<%=dataProduct.stock%>' class="form-control"  name='stock'> </br>
            <label>Description</label></br>
            <input type = 'text' value="<%=dataProduct.description%>" class="form-control" name='description'></br>
            <label>Image</label></br>
            <input type ='text' value='<%=dataProduct.image%>' class="form-control"  name='image'> </br>
            <label>Category</label></br>
            <input type ='number' value='<%=dataProduct.id_category%>' class="form-control"  name='id_category'> </br>
          </br>
            <button type="submit" class="btn btn-success"> Submit </button> 
      </form> 
    </center>
  </div>
  </body>
</html>
