<!DOCTYPE html>
<html lang="en">
		<% include ../partials/header_admin%>
<body>
	<div class = "container">
  <h1>List Products</h1>
    <a href="/admin/home/products/add"><button type="button" class="btn btn-success">Add Products</button></a> <br />
    <center>
    <table class = "table">
			<thead>
				<tr class ="info">
					<th>No</th>
					<th>ID</th>
					<th>Name Product</th>
					<th>Stock</th>
          <th>Price</th>
          <th>Description</th>
          <th>Category</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<%data.forEach((item,i) => {%>
				<tr>
					<td><%=i+1%></td>
					<td><%=item.id%></td>
					<td><%=item.name%></td>
					<td><%=item.stock%></td>
          <td><%=format.formatCurrency(item.price)%></td>
          <td><%=item.length(item.description)%></td>
					<%if(item.Category!== null){%>
							<td><%=item.Category.name%></td>
					<%}else{%>
						<td>No Category yet</td>
					<%}%>
					<td><a href = "/admin/home/products/edit/<%=item.id%>"><button type="button" class="btn btn-info">Edit</button></a>  <a href = "/admin/home/products/delete/<%=item.id%>" onclick="return confirm('Delete item ?')"><button type="button" class="btn btn-danger">Delete</button></a> </td>
				</tr>
				<%})%>
			</tbody>
    </table>
</center>
</div>
</body>
</html>