<!DOCTYPE html>
<html lang="en">
		<% include ../partials/header_admin%>
<body>
	<div class = "container">
		<h5>Name :<%=data.getFullname()%> </h5><br/>
		<h5>Email :<%=data.email%> </h5><br/>
    <center>
    <table class = "table">
			<thead>
				<tr class ="info">
					<th>No</th>
					<th>ID Order</th>
					<th>Status</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<%data.Orders.forEach((order,i) => {%>
				<tr>
					<td><%=i+1%></td>
					<td><%=order.id%></td>
					<td><%=order.status%></td>
					<td><a href="/admin/home/users/<%=data.id%>/view/<%=order.id%>/view">view</a></td>
					<%})%>
					
			</tbody>
    </table>
</center>
</div>
</body>
</html>